{% extends 'base.html.twig' %}

{% block title %}Sondages{% endblock %}

{% block body %}

{% if sondages is not empty %}
    <a class="btn btn-primary" href="{{path('sondage_new')}}">Create Sondage</a>

    <br><br>

    <table class="table">
        <thead>
            <tr>
                <td>Title</td>
                <td>Question</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for sondage in sondages %}
            <tr>
                <td>{{sondage.name}}</td>
                <td>
                    {% for question in sondage.questions %}
                        <ul>
                            <li>{{question.title}}</li>
                        </ul>
                    {% endfor %}
                </td>
                <td><a href="{{path('sondage_edit', {id:sondage.id})}}" class="btn btn-primary">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>Il n'y a pas encore de sondages <a class="btn btn-primary" href="{{path('sondage_new')}}">Create sondage</a></p>
{% endif %}


{% endblock %}
